* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body, html {
    background-color: #e1cdc9;
}

.container {
    display: block;
    width: 800px;
    margin: 100px auto;
    position: relative;
}

.container h1 {
    text-align: center;
    margin: 62px 0;
}

.container .dados {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right top, #d4bfcb, #ebc2c9, #fec7be, #ffd1ae, #fde0a3, #f1e7a0, #e1eda2, #cef4a8, #c5f1a7, #bceea6, #b3eaa5, #aae7a4);
    padding: 46px;
    border-radius: 6px;
}

.nomeform,
.prof {
    display: block;
    margin: 8px 0;
}

form input {
    display: block;
}

form .divisao {
    display: flex;
}

form .divisao label {
    padding-left: 6px;
}

.tabela {
    max-width: 500px;
}

.tabela h2 {
    text-align: center;
}

#respostas {
    width: 100%;
}

.enviar {
    background-color: rgb(75, 168, 66);
    padding: 6px;
    width: 100px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 14px;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

.loading {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

.loading img {
    background-color: #aae7a4;
}
